# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env.*.local

# testing
/coverage

# misc
.DS_Store
*.pem
npm-debug.log*
dev.log
/page.html

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
.env*
